p, a, h2, h3{font-family: 'Noto Sans JP', sans-serif;}
.tc {text-align: center;}
.ln-b {display: inline-block;}
.top_title {font-size: 1.3em;}
.title {font-size: 1.1em;}
header {
  width: 100%;
  height: 2.5em;
  background-color: lightcyan;
}
header p {
  font-size: 1em;
  padding: 0.75em 10px;
}
#caution {
  width: 100%;
  background-color: lightcoral;
  color: white;
}
.width80 {width: 80vw; margin: 10px 10vw;}
#covid_19_today {
  text-align: center;
}
#count_show {font-size: 2em;}

#bed_used,
#bet_counts{width: 49%;}

#bed_percent,
#bet_counts{font-size: 2.2em;}
#bed_percent {color: linear-gradient(90deg, #f4c14e 4%, #6fb8d9 5%);}
#bed_used p.ln-b {padding: 2px; font-size: 1em;}
#bed_percent:before {
  color: transparent;
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #f4c14e 4%, #6fb8d9 5%);
}
#bet_counts i {
  color: #f4c14e;
  margin: 0 3px;
}
#bed_count {color: linear-gradient(90deg, #f4c14e 41%, #fff 42%);}
#bed_count:before {
  color: transparent;
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #f4c14e 41%, #fff 42%);
}

#covid_19_level #graph {
  display: flex;
  flex-wrap: nowrap;
}
.level_panel {
  padding: 5px;
  height: auto;
  color: white;
  margin: 0 10px;
  border-radius: 10px;
  min-width: 300px;
}
#level3 {background-color: blueviolet;}
#level2 {background-color: red;}
#level1 {background-color: #EFCB00;}
#level3 h3, #level1 h3 {margin-top: 24px;}
@media screen and (max-width: 850px) {
  #bed_used,
  #bet_counts{width: 100%;}
  .ln-b {display: block;}
}
@media screen and (max-width: 999px) {
  #covid_19_level #graph {
    width: 100%;
    overflow-x: scroll;
  }
  .level_panel {
    width: 300px;
  }
}
@media screen and (min-width: 1000px) {
  #covid_19_level {width: 80%; margin: 10px 10%;}
  .level_panel {
    width: 30%;
  }
}
